* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  body {
    background-color: rgb(218, 108, 108);
    height: 100%;
    width: 100%;
    
  }

  h1 {
    font-size: 03vw;
    background-color: #5b0404;
    color: #fff;
    height: 20vmin;
    /* line-height: 20vmin; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  };

  .body {
    gap: 2%;
  }
  
  .choice {
    gap: 2vmin;
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  #rock:hover {
    opacity: 0.6;
    cursor: pointer; 
    background-color: #ad426e;
  }

  #paper:hover {
    opacity: 0.6;
    cursor: pointer; 
    background-color: rgb(118, 77, 158);
  }
  
  #scissors:hover {
    opacity: 0.6;
    cursor: pointer; 
    background-color: rgb(74, 97, 139);
  }

  img {
    height: 30vmin;
    width: 30vmin;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12vmin;
    margin-top: 17vmin;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
    gap: 5vmin;
    margin-bottom: 1%;
  }
  
 
  
  .msg-container {
    margin-top: 3%;
    display: flex;
    justify-content: center;

    
  }
  
  #msg {
    background-color: #5b0404;
    color: #fff;
    font-size: 150%;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
 
  .boxes { 
    
    margin-top: 7%;
     margin-bottom: 1%; 
   
   }

   .style {
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   }